@import url("https://fonts.cdnfonts.com/css/coolvetica");

/* STYLE DEFAULT HALAMAN */
* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Coolvetica", sans-serif;
}

.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 1350px;
}

/* Style umum untuk container */
.articles3-container {
  gap: 1rem; /* Menambahkan margin kiri agar simetris */
  justify-content: center; /* Menengahkan konten secara horizontal */
  align-items: center; /* Menengahkan konten secara vertikal jika perlu */
}

/* Style untuk setiap card artikel */
.articles3-container .article-card {
  display: flex;
  margin: 10px;
  transition: transform 0.2s;
  overflow: hidden;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.articles3-container .article-card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.articles3-container .article-card img {
height: 200px;
  object-fit: cover;
}

.articles3-container .article-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.articles3-container .article-category {
  color: #18518a;
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-weight: 1;
}

.articles3-container .article-title {
  color: #333;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 1;
}

.articles3-container .article-description {
  color: #666;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.articles3-container .article-date {
  color: #999;
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.articles3-container .more-button {
  align-self: flex-start;
  background-color: #fff;
  color: #18518a;
  border: 1px solid #18518a;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 2rem;
  transition: background-color 0.5s;
  font-size: 1rem;
}

.articles3-container .more-button:hover {
  background-color: #18518a;
  color: #fff;
}
