@import url("https://fonts.cdnfonts.com/css/coolvetica");

/* STYLE DEFAULT HALAMAN */
* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Coolvetica", sans-serif;
}

.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 1350px;
}

.forpass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forgot-password-card {
  background: #fff;
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.forgot-password-card h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: 1;
}

.forgot-password-card p {
  font-size: 1.3rem;
  color: #666;
  font-weight: 1;
  margin-bottom: 30px;
}

.forpass-container .input-group {
  position: relative;
  margin-bottom: 24px;
}

.forpass-container .input-group input {
  width: 100%;
  padding: 16px 48px 16px 16px; /* Padding lebih besar untuk input */
  border: 1px solid #ccc;
  border-radius: 2rem;
  font-size: 16px; /* Dari 14px menjadi 16px untuk font lebih besar */
}

.forpass-container .input-group .input-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #999;
}

.forpass-container button {
  width: 100%;
  padding: 16px; /* Dari 12px menjadi 16px untuk padding lebih besar */
  background-color: #1e73be;
  color: #fff;
  border: none;
  border-radius: 2rem;
  font-size: 18px; /* Dari 16px menjadi 18px untuk font lebih besar */
  cursor: pointer;
}

.forpass-container button:hover {
  background-color: #fff;
  color: #155a8a;
  border: 1px solid #155a8a;
}
