@import url("https://fonts.cdnfonts.com/css/coolvetica");

/* STYLE DEFAULT HALAMAN */
* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Coolvetica", sans-serif;
}

.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 1350px;
}

/* STYLE userhome1 ATAU CONTENT-1 */
.userhome1 {
  height: 600px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: #febe98;
}

/* STYLE userhome2 ATAU CONTENT-2 */
.userhome2 {
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.userhome2 .content-2 .formal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.userhome2 .content-2 .formal .second {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 2rem;
}

.userhome2 .content-2 .formal .main img {
  max-height: 396px;
  transition: transform 0.2s;
}

.userhome2 .content-2 .formal .main img:hover {
  transform: scale(1.1);
}

.userhome2 .content-2 .formal .second img {
  max-width: 220px;
  margin-left: 2rem;
  margin-top: 2rem;
}

/* STYLE userhome3 ATAU CONTENT-3 */
.userhome3 {
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
}

.userhome3 .content-3 .casual {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.userhome3.content-3 .casual .second {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.userhome3.content-3 .casual .main img {
  max-height: 400px;
  margin-left: 2rem;
}

.userhome3.content-3 .casual .second img {
  max-height: 305px;
  margin-left: 2rem;
  margin-top: 2rem;
}

/* STYLE userhome4 ATAU CONTENT-4 */
.userhome4 {
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.userhome4 .content-4 .sporty {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.userhome4 .content-4 .sporty .second {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 2rem;
}

.userhome4 .content-4 .sporty .main img {
  max-height: 396px;
}

.userhome4 .content-4 .sporty .second img {
  max-width: 220px;
  margin-left: 1rem;
  margin-top: 2rem;
}
/* STYLE userhome5 ATAU CONTENT-5 */
.userhome5 {
  height: 600px;
  position: relative;
  background-color: #ffffff;
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 22rem;
}

.userhome5 .content-5 h1 {
  color: #18518a;
  font-size: 4rem;
  margin-bottom: 5rem;
  font-weight: 1;
}

.userhome5 .content-5 h1 span {
  color: #fea94f;
}
